* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(255, 232, 232);
    color: #000000;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #666666;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

input,
button,
textarea,
select {
    font-family: Arial, sans-serif;
}

input,
button,
textarea,
select {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
}

button:hover {
    background-color: #0056b3;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"],
input[type="reset"],
button {
    width: 100%;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #447dc2;
}






.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(27, 22, 22, 0.1);
}
.navigation .logo{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
}
.navigation ul{
    list-style-type: none;
    display: flex;
}
.navigation ul li{
    padding: 10px 20px;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}